.horizontal {
  display: flex;
  justify-content: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  font-size: 2.5em;
  color: #1c78c0;
}

.init-view {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  color: #1c78c0;
  text-align: center;

  &__content {
    margin-top: -24px;
  }

  &__logo {
    transform: scale(0.95);
    font-size: 3em;
    font-weight: 100;
  }

  &__message {
    margin-top: 30px;
    text-align: center;
  }

  &__github {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    margin:2em 0;
  }
}

.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-to {
    transition: opacity 2.5s;
    opacity: 1;
  }
}

.scale {
  transform: scale(1);
  transition: all 4s;
}

@media screen and (max-width: 760px) {
  .init-view {
    &__logo {
      font-size: 2em;
    }

    &__message {
      font-size: 1em;
    }
  }
}